:root {
    --brandOrange: #FA472F;
    --brandYellow: #F4AB14;
    --headerHeight: 4rem;
    --background: #202124;
}

*{ box-sizing: border-box; }

html, body {
    height: 100%;
}

body {
    margin: 0;
    margin-top: var(--headerHeight);
    background-color: var(--background);
    color: #ddd;
    font-family: sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body.showResults {
    overflow: auto;
    justify-content: flex-start;
}

body.drinkSelected {
    overflow: hidden;
}

header, footer {
    background-color: var(--background);
}

header .branding {
    font-size: clamp(1.5rem, 10vw, 5rem);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 5rem 0 0 0;
    display: inline-block;
    width: 100%;
    font-family: serif;

    /* Gradient Text */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(var(--brandOrange), var(--brandYellow) 60%);

    display: flex;
    justify-content: center;
    align-items: center;
}

header .branding i {
    margin-right: 1rem;
}

header .inputWrapper {
    margin: 1rem;

    font-size: 1.5rem;
    width: 20em;
    border: 1px solid #ddd;
    border-radius: 2rem;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;

    /* Center */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

header input {
    background: transparent;
    padding: 0;
    width: 100%;
    border: none;
    color: #ddd;
    padding: 0 0.5em;
    font-size: 1.5rem;
}

header input:focus {
    outline: none;
}

header button.getCocktail {
    padding-left: 0.75em;
    padding-right: 0.75em;
    border-style: none;
    border-radius: 5px;
    color: white;
    background-color: #333;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.showResults header {
    height: var(--headerHeight);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #555;
}

.showResults header .branding {
    font-size: 1.5rem;
    margin: 0;
    width: auto;
}

.showResults header .branding i {
    margin-right: 0.5rem;
}

.showResults header .inputWrapper {
    margin: 0 1rem;
    left: 0;
    transform: none;
    padding-block: 0;
    background-color: #303134;
    border-color: transparent;
}

footer {
    height: var(--headerHeight);
}

.selectedDrink {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.selectedDrink.visible {
    transition: top 1000ms;
    top: 0;
}

.selectedDrink > .container {
    border: 3px outset silver;
    background-color: #333;
    width: 90%;
    height: 90%;
    overflow: auto;

    display: grid;
    grid-template-columns:
        [drinkImage] 50%
        [drinkDetails] 50%;
    grid-template-rows:
        [drinkName] 1fr
        [drinkTags] 1fr
        [drinkGlass] 1fr
        [drinkVideo] 1fr
        [drinkIngredients] 2fr
        [drinkInstructions] 10fr;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1rem;
}

.selectedDrink > .container :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
}

.selectedDrink__close {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    border-style: none;
    color: white;
    background-color: #555;

    position: absolute;
    top: 2rem;
    right: 2rem;
}

.selectedDrink__image {
    grid-row: 1 / span 6;
    grid-column: drinkImage;

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedDrink__image img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.selectedDrink__name {
    grid-row: drinkName;
    grid-column: 2 / 3;

    display: flex;
    align-items: center;
}

.selectedDrink__name h2 {
    font-size: 1.5rem;
}

.selectedDrink__tags, .selectedDrink__glass {
    display: flex;
    align-items: center;
}

.showResults header button.getCocktail {
    left: 0;
    transform: none;
}

.results {
    padding-top: 1rem;
    margin-inline: 10vw;
}

.drink {
    display: grid;
    grid-template-columns: 15rem 16rem auto;
    grid-template-rows: 2rem minmax(8rem, 10fr);
    column-gap: 1rem;
    margin-block: 3rem;
    padding-inline: 1rem;
    cursor: pointer;
}

.drink__thumbnail {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.drink__thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    border: 1px solid #555;
}

.drink__name {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: cornflowerblue;
}

.drink__ingredients {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.drink__instructions {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    font-size: 1.5rem;
}
